DATABASE_URL=postgres://postgres:password@localhost:5432/market_data
SQLX_OFFLINE=true

# PostgreSQL/TimescaleDB configuration
POSTGRES_DB=market_data
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# Iggy Message Queue configuration
IGGY_USERNAME=iggy
IGGY_PASSWORD=Secret123!
IGGY_PORT=5100

# PgAdmin configuration
PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

# Grafana configuration
GRAFANA_ADMIN_PASSWORD=admin
