# Ignore all files
*

!*/
# Allow .gitignore itself
!.gitignore
!Cargo.toml
!src/
!**/*.rs
!examples/
!benches/
!.python-version
!justfile
!pyproject.toml
!rust-toolchain.toml
!rustfmt.toml
!Cargo.lock
!notebooks/*.ipynb
!**/*.ipynb
!LICENSE
debug/
target/
!Dockerfile*
!configuration/*.yaml
!.env.example

!.sqlx/*.json
!migrations/*.sql
!docker-compose*.yaml
